{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li>
            <a class="button button-small" href="https://leetcode.com/Shantanu_Yadav_13/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/leetcode.png' %}" alt="...">
                <span class="label-hidden"> LeetCode </span>
            </a>
        </li>
        <li>
            <a class="button button-small" href="https://github.com/shantanuYadav1001" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/github.png' %}" alt="...">
                <span class="label-hidden"> GitHub </span>
            </a>
        </li>
        <li>
            <a class="button button-small" href="https://www.cloudskillsboost.google/public_profiles/0ff10d9a-fc0a-44fc-84ba-383f9151db54" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/gcp.png' %}" alt="...">
                <span class="label-hidden"> Google Cloud </span>
            </a>
        </li>
        <li>
            <a class="button button-small" href="https://www.codechef.com/users/xx_emperor_xx" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/codechef.svg' %}" alt="...">
                <span class="label-hidden"> CodeChef </span>
            </a>
        </li>
        <li>
            <a class="button button-small" href="https://www.linkedin.com/in/shantanu-yadav-a59955173/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/linkedin.png' %}" alt="...">
                <span class="label-hidden"> LinkedIn </span>
            </a>
        </li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved.</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->